* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  color: #303030;
  background: #fefefe;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  margin: 0 5rem;
  border-bottom: 1px solid #ccc;
}
.header h1 {
  font-family: "Streetwear", cursive;
  background: -webkit-linear-gradient(left, #70f5ff, #e04dfd);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header p {
  font-size: 0.9rem;
}
.header p span {
  color: slateblue;
  cursor: pointer;
}

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10vh;
}
.login-section h1 {
  font-size: 1.7rem;
  margin-bottom: 30px;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
}
.login label {
  margin-bottom: 10px;
  font-size: 0.9rem;
}
label.password span {
  font-size: 0.7rem;
  margin-left: 5px;
  color: #606060;
  cursor: pointer;
}
#email,
#password {
  padding: 8px 5px;
  width: 250px;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: none;
  border: 1px solid #606060;
}
.login-section .login-btn {
  appearance: none;
  outline: none;
  border: none;
  width: 250px;
  padding: 10px 0;
  font-family: "Montserrat", sans-serif;
  color: #fefefe;
  background: -webkit-linear-gradient(left, #70f5ff, #e04dfd);
  border-radius: 5px;
  font-weight: 500;
  font-size: 0.95rem;
  margin-top: 15px;
  cursor: pointer;
}

.login-section .login-btn:hover {
  background: -webkit-linear-gradient(45deg, #70f5ff, #e04dfd);
}
