:root {
  margin: 0;
  padding: 0;
  justify-content: center;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to top right, aqua, rgb(235, 35, 168)) no-repeat;
}

input {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid #c4c9c4;
  border-radius: 4px;
  font-size: 15px;
  height: 30px;
  width: 100%;
  background: white;
}

label {
  color: #818181;
  font-size: 12px;
}

.box {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;

  background-color: aliceblue;
  box-shadow: 10px 19px 20px 10px rgb(21, 49, 124);
  border-radius: 10px;

  min-width: 250px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__item {
  margin-top: 8px;
  width: 100%;
}

.title {
  font-weight: 700;
}

.btn {
  margin: 20px;
  padding: 5px 10px;
  height: 36px;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 4px;
  background: black;
}

.btn :hover {
  color: rgb(10, 253, 253);
  font-size: 25px;
}
